.Header {
    /* position: fixed;
      top: 0;  */
    max-height: 70px;
    width: 100vw;
  
    display: grid;
    grid-template-areas: "logo nav";
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .Logo {
    grid-area: logo;
    height: 70px;
    width: 300px;
    padding-left: -100px;
  }