.capsulesSearch {
    display: grid;
    /* grid-area: nav; */
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
}

.capsuleCard {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
    /* width: 200px; */
}

@media (max-width: 1000px) {
    .capsulesSearch {
        position: absolute;
        top: 500px;
      grid-template-rows: repeat(4, auto);
      grid-template-columns: none;
      grid-row-gap: 20px;
      width: 100vw;
      padding: 30px 0 30px;
      background: rgba(40, 44, 47, 0.95);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .capsuleCard {
        display: grid;
        grid-template-rows: repeat(4, auto);
    }
  }